on:
  release:
    types:
      - published

name: Publish

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: vci-check

jobs:
  bump-index:
    name: Update Go Module Index
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Ping endpoint
        run: curl "https://proxy.golang.org/github.com/jidicula/vci-check/@v/${{ github.ref_name }}.info"
  publish-image:
    name: Publish Docker image
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Log in to the Container registry
        uses: docker/login-action@v3.2.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5.5.1
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
      - name: Build and push Docker image
        uses: docker/build-push-action@v6.4.1
        with:
          push: true
          tags:
            ${{ env.REGISTRY}}/jidicula/${{ env.IMAGE_NAME}}:${{ github.ref_name }},${{ env.REGISTRY}}/jidicula/${{ env.IMAGE_NAME}}:latest
          labels: ${{ steps.meta.outputs.labels }}
          build-args: |
            "UBUNTU_VERSION=${{ matrix.version-pair.ubuntu }}"
            "CLANG_FORMAT_VERSION=${{ matrix.version-pair.version }}"
